.container {
  display: grid;
  grid-auto-flow: row;
  gap: 1.4rem;
  padding-bottom: 0.4rem;

  button {
    width: fit-content;
    margin-left: auto;
  }
}

.session {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    font-family: var(--mantine-font-family-monospace);
    color: var(--mantine-color-blue-8);
    display: flex;
    align-items: center;

    button {
      margin-left: 0.4rem;
    }
  }
}
